{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{%  static 'comments/img/favicon.png' %}">
    <link rel="stylesheet" href = "{% static "comments/css/base.css" %}"> <!-- Link to the CSS file -->
    {% block extra_css %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block title %} Comments NLP {% endblock %}</title>
</head>

<body>
    {%block header%}
        <header class="header-container">
            <h1 id = "header-title-text">Youtube Comments Analysis</h1>
        </header>
        <div class="header-spacer"></div>
    {%endblock%}

    <main>
        {% block content %}
        <div class = "main-container">
           

            <form action="{% url 'index' %}" method="post" class="comment-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class= "index-submit-button" type="submit">Submit</button>
            </form>

            
        </div>

        <div class = "description-box">
            <span class = "description"> This is a simple application that performs sentiment analysis on the comments of a youtube video.  It can perform the analysis using AI which relies on a transformer model from hugging face, or by using a non AI "bag of words" approach using VADER analysis. The sentiment score is a number between -1 to +1. -1 signifies a strongly negative sentiment and +1 signifies a strongly positive sentiment. The results of the analysis will include some interactive graphs which can be manipulated. For optimal display of the application, select a video with a sufficient number of comments. Enjoy! </span> 
   
        </div>

        {% endblock %}
    </main>

</body>

</html>