
.graph1-container, .graph2-container {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
}

h2 {
    display: block;
    text-align: center;
    margin-top: 3rem;
}

#line-chart, #bar-chart {
    width: 100%;
    height: 100%;
}

.emoji {
    font-size: 2rem;
}

.sentiment-score{
    text-align: center;
    font-size: 1.3rem;
}

.refresh-icon {
    position: fixed;
    margin: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    width: 3rem;
    z-index: 1;
}